 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

 :root {
     --primary: #03045e;
     --accent: #ffb703;
 }

 body {
     font-family: 'Inter', sans-serif;
     background-color: #f0f2f5;
 }

 .bg-primary {
     background-color: var(--primary);
 }

 .text-accent {
     color: var(--accent);
 }

 .border-accent {
     border-color: var(--accent);
 }