 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

 :root {
     --primary: #03045e;
     --accent: #ffb703;
 }

 body {
     font-family: 'Inter', sans-serif;
     background-color: #f0f2f5;
 }

 .bg-primary {
     background-color: var(--primary);
 }

 .text-accent {
     color: var(--accent);
 }

 .border-accent {
     border-color: var(--accent);
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
         transform: translateY(20px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 @keyframes float {
     0% {
         transform: translateY(0px);
     }

     50% {
         transform: translateY(-10px);
     }

     100% {
         transform: translateY(0px);
     }
 }

 .animate-fade-in {
     animation: fadeIn 0.6s ease-out forwards;
 }

 .animate-float {
     animation: float 3s ease-in-out infinite;
 }

 .forecast-card {
     transition: all 0.3s ease;
 }

 .forecast-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
 }

 .loader {
     border-top-color: #ffb703;
     animation: spinner 0.6s linear infinite;
 }

 @keyframes spinner {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .hidden-load {
     opacity: 0;
 }


 .hide-scrollbar::-webkit-scrollbar {
     display: none;
 }

 .hide-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
 }